graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include *.ipynb
include *.txt
include *.pdf

include CHANGELOG.rst
include LICENSE
include README.md
include *.py
include *.dss

# Include all OpenDSS binaries
recursive-include src/py_dss_interface/opendss_official/windows/delphi/x64 *.dll
recursive-include src/py_dss_interface/opendss_official/windows/delphi/x86 *.dll
recursive-include src/py_dss_interface/opendss_official/windows/cpp/x64 *.dll
recursive-include src/py_dss_interface/opendss_official/windows/cpp/x86 *.dll
recursive-include src/py_dss_interface/opendss_official/linux/cpp/ *.so

include tox.ini .travis.yml .appveyor.yml .readthedocs.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
