Sphinx==4.3.0
sphinx-toolbox
Babel==2.8.0
imagesize==1.2.0
readme-renderer==26.0
sphinx-argparse
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-images
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-autodoc-typehints
attrs==22.2.0
colorama==0.4.6
comtypes==1.1.14
exceptiongroup==1.1.0
iniconfig==2.0.0
numpy==1.24.2
packaging==23.0
pandas==1.5.3
pluggy==1.0.0
pytest==7.2.1
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
tomli==2.0.1
