Sphinx==4.3.0
sphinx-toolbox
Babel==2.9.1
imagesize==1.2.0
readme-renderer==26.0
sphinx-argparse
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-images
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-autodoc-typehints
